{% render 'partials/head.liquid' %}

<h2>Squads</h2>

  <article>
    <a href="/squad1H/">Squad 1H</a>
    
  </article>
        
  <article>
    <a href="/squad1G/">Squad 1G</a>

  </article>

  <a href="">View All</a>



<h2>Squads</h2>
<ul>
      <li>
        <a href="/squad1H/">Squad 1H</a>
        <a href="/squad1G/">Squad 1G</a>
      </li>
</ul>

{% render 'partials/foot.liquid' %}