{% render 'partials/head.liquid' %}

<nav class="menu" id="menu">

    <button type="button" class="hamburger-button" id="hamburger-button">
        &#9776;
    </button>

    <ul>
        <li><a href="../squad-1h:Blaze">Blaze</a></li>
        <li><a href="../squad-1h:Cool">Cool</a></li>
        <li><a href="../squad-1h:Rad">Rad</a></li>
        <li><a href="../squad-1h:Spirit">Spirit</a></li>
        <li><a href="../squad-1h:Chill">Chill</a></li>
        <li><a href="../squad-1h:Awesome">Awesome</a></li>
    </ul>
</nav>

<body>
    <article class="profilecards" id="profilecards">
        {% for person in persons %}
        <a href="/student/{{ person.id }}">
            <img src=" {{ person.avatar }} " alt="leeg" {{ person.name }} height="300px" width="200px"
                style="border:10px solid {{person.fav_color}}">
            <button class="like-button" id="like-button">
                &#x2764;&#xfe0f;</button>
        </a>
        {% endfor %}
    </article>

{% render 'partials/foot.liquid' %}