/* Verborgen menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: var(--primary-color-black);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        text-decoration: none;
        color: var(--background-color-main);
        font-size: calc(1rem + 2vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: var(--primary-color-white);
}

/* Hamburger Menu */
.hamburger-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: var(--background-color-main);
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.profilecards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;


    .profilecards {
        border: 2px solid black;
        border-radius: 20px;
        padding: 1em;

        p {
            border-bottom: 2px solid black;

        }

        img {
            left: 50%;
        }

        .like-button-container {
            border-top: 2px solid black;
        }
    }
}