body {
    /* Kleuren */
        --primary-color-white: #ECECEC;
        --primary-color-black: #050542;
        --background-color-main: #A675F4;
        --primary-button-color: #67E5BF;
        --secondary-button-color: #FEFC86;
    
        --border-color: black;
    
    /* Typografie */
        --normal-text-size: 16px;
        --font-size-header-s: 20px;
        --font-size-header-m: 34px;
        --font-size-header-l: 40px;
    
        --line-height-header: 110%;
    
        --font-family-website: "Open Sans", sans-serif;

        --font-weight-normal: 400;
        --font-weight-bold: 700;
        --font-weight-black: 900;
        --font-style: italic;
        
        --letter-spacing: 0%; 
    }

    body {
        background: var(--background-color-main);
    }
     
    h1 {
        font-family: var(--font-family-website);
        font-size: var(--font-size-header-l);
        line-height: var(--line-height-text);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-black);
    }
    
    h2 {
        font-family: var(--font-family-website);
        font-size: var(--font-size-header-m);
        line-height: var(--line-height-text);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-bold);
    }
    
    h3 {
        font-family: var(--font-family-website);
        font-size: var(--font-size-header-s);
        line-height: var(--line-height-text); 
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-bold);
    }

    h1, h2, h3, a {
        color: var(--primary-color-black)
    }

    p, a {
        font-family: var(--font-family-website);
        font-size: var(--normal-text-size);
        text-decoration: none;
        font-weight: var(--font-weight-normal);
    }