body {
    background-color: (--background-color-main);
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.squad-naam {
    color: var(--primary-button-color);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: var(--font-family-website);
    display: flex;
    justify-content: center;
}


.card-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    gap: 20px; */
    display: flex;
    justify-content: center;
    gap: 100px;
}

.squad-h, .squad-g {
    border:2px solid;
    border-color: var(--primary-button-color);
    border-radius: 20px;
    padding:0% ;      
    background-color: var(--primary-color-black);
    width: 400px;
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.foto-koop{
    background-image: url(./images/foto-koop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0cap;
    border: 2px solid #67E5BF;
    width: 400px;
    height: 280px;
}

.foto-krijn {
    background-image: url(images/krijn.avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0cap;
    border: 2px solid #67E5BF;
    width: 400px;
    height: 280px;
}

.hartje {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.clicked svg {
    animation: hartje;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hartje {
    0% {
      fill: transparent;
    }
    100% {
      fill: #d75a4a;
    }
  }

.view-all {
    border:2px solid;
    border-radius: 20px;
    background-color: var(--primary-button-color);
    padding: 1em;
}


